<div class="surface-ground">
  <div class="grid">
    <div class="col-12 md:col-6 xl:col-3 p-3" *ngFor="let item of members">
        <app-member-item [memberFromList]="item"></app-member-item>
    </div>
  </div>
</div>


<!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-3 p-3" *ngFor="let item of members; let i = index">
      <div class="relative overflow-hidden" (mouseenter)="visibleMember = i" (mouseleave)="visibleMember = null">
        <img src="{{item.photoUrl}}" class="w-full block" />
        <div class="absolute top-0 left-0 h-full w-full border-round fadein animation-duration-300 select-none"
          style="background-color: rgba(0,0,0,0.7)" *ngIf="visibleMember === i">
          <div class="flex flex-column p-5 h-full">
            <span class="block font-medium text-white text-xl mb-3">
              <i class="pi pi-map-marker text-500 mr-2 text-xl"></i>
              {{item.knownAs}}

            </span>
            <span class="font-medium text-400">{{item.city}}</span>
            <div class="mt-auto">
              <a tabindex="0" class="cursor-pointer text-white"><i class="pi pi-twitter text-600 text-xl mr-3"></i></a>
              <a tabindex="0" class="cursor-pointer text-white"><i class="pi pi-github text-600 text-xl mr-3"></i></a>
              <a tabindex="0" class="cursor-pointer text-white"><i class="pi pi-facebook text-600 text-xl"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
